{% extends "layout.html" %}
{% block content %}
    <h2>Register</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
            {{form.username(class="form-control is-invalid")}}
            <div class="bg-danger text-black p-2">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
                {% else %}
                {{ form.username(class="form-control is-valid") }}
                {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{form.email(class="form-control is-invalid")}}
            <div class="bg-danger text-black p-2">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
                {% else %}
                {{ form.email(class="form-control is-valid") }}
                {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
            {{form.password(class="form-control is-invalid")}}
            <div class="bg-danger text-black p-2">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
                {% else %}
                {{ form.password(class="form-control is-valid") }}
                {% endif %}
        </div>
        <div class="mb-3">  
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
            {{form.confirm_password(class="form-control is-invalid")}}
            <div class="bg-danger text-black p-2">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
                {% else %}
                {{ form.confirm_password(class="form-control is-valid") }}
                {% endif %}
        </div>
        <button type="submit" class="btn btn-outline-success">Register</button>
    </form>
    <div class="border-top mt-4 pt-3">
        <p>Already have an account? <a href="{{ url_for('main.login') }}">Log in here</a>.</p>
    </div>
{% endblock %}